/* 
  Print styles for eShop Order Details page
*/

body {
  background-color : #fff;
  padding : 10px 40px;
  font : 95% 'courier new', courier, monospace;
}

.wrap {
  background-color : #fff;
}

#wphead, #user_info, #adminmenu, #submenu, .wrap h2, form, #footer {
  display : none;
}

table, th, td {
  border : 1px solid #aaa;
}

th, td {
  padding : 5px;
}

table {
  background-color : #f0f0f0;
}

th {
  background-color : #f9f9f9;
}

td {
  background-color : #fff;
}

table {
  font-size : 95%;
}

h3.status {
  font-size : 120%;
  color : #666;
}

.right, .total, .totalr {
  text-align : right;
}

/* end eShop Print CSS */