/* 
  eShop Admin styles
*/
/* sub menu*/
#eshopsubmenu li {
  display : inline;
  line-height: 180%;
  height : 25px;
  list-style : none;
  text-align : center;
  white-space : nowrap;
}

#eshopsubmenu {
  background-color : #F5FAFF;
  border:2px solid #B9DFFF;
  color : #333;
  margin : 0;
  padding : 3px 2em 0 5px;
}

#eshopsubmenu a, #eshopsubmenu span {
  border : none;
  color : #000;
  font-size : 0.9em;
  padding : 0.3em 1em 0.4em 0.3em;
}

#eshopsubmenu a:hover, #eshopsubmenu a:focus, #eshopsubmenu a:active {
  background : transparent;
  color : #700;
  text-decoration : underline;
}

#eshopsubmenu span {
  color : #555;
  text-transform : uppercase;
  font-weight : bold;
  font-size : 85%;
}

#eshopsubmenu .current, #eshopsubmenu .current:hover {
  background : transparent;
  text-decoration : none;
  color : #B27900;
  font-weight : bold;
}

#eshopsubmenu a.current:hover {
  cursor : default;
}

/* headers */

/* product form */
#eshopcustom h3{
	font-weight:normal;
	padding-left:2px;
}
#eshopcustomstuff{
	padding-left:10px;
	border:1px solid #e5e5e5;
}
#eshopcustomstuff label{
	font-weight:bold;
	line-height:180%;
}
	
.eshopsubmit{
	text-align:right;
	padding:0;
	margin:0;
}

p.submit.eshop {
  text-align : left;
}

p.submit input, p.submit select, p.submit option {
  cursor : pointer;
}

p.success, p.notice{
  font-weight : bold;
  font-size : 1.1em;
}

p.success{
  padding : 4px 6px;
  color : #fff;
  text-align : left;
  margin : 13px 2px;
}


p.success {
  background-color : #669933;
}



p.notice, h3.status { 
  color : #777;
  background:transparent;
  border:0;
}



p.notice span, h3.status span {
  background-color : #F5FAFF;
  border:1px solid #B9DFFF;
  padding : 1px 8px;
  color : #333;
  text-transform : uppercase;
  letter-spacing : 0.1em;
  font-size : 90%;
}

h3.status span.print {
  display : none;
}
#eshoppage h3{
	color:#777;
	border-bottom:1px solid #eee;
}
#eshoppage h4{
	color:#999;
	border-bottom:1px solid #eee;

}
/*stats page */
ul.eshop-stats li {
  list-style-type : none;
}

ul.eshop-stats li strong {
  background-color : #F5FAFF;
  border:1px solid #B9DFFF;
  padding : 1px 8px;
  color : #333;
}
/* table listings */
table#listing {
  text-align : left;
  width : 100%;
  margin : 12px 0;
  clear : both;
}
table#listing caption{
	margin-top:12px;
}
table#listing tr {
  background-color : #f8f8f8;
}

table#listing tr.alt {
  background-color : #eee;
}

table#listing th {
  background-color : #f0f8ff;
  border : 1px solid #999;
  padding : 6px;
}

table#listing td {
  padding : 4px 6px;
  border-bottom : 1px solid #bbb;
}

table#listing a {
  display : block;
  width : 98%;
  border : 0; 
  border : 1px solid #aaa;
  padding : 1px 3px;
  margin : -1px -3px;
}

table#listing a:hover, table#listing a:focus, table#listing a:active {
  border : 1px solid #666;
  background-color : #fefefe;
  color : #222;
}

table#listing tr.alt a:hover, table#listing tr.alt a:focus, table#listing tr.alt a:active {
  border : 1px solid #333;
  background-color : #f6f6f6;
  color : #000;
}

td.totalr, td.total {
  background-color : #eee;
  font-weight : bold;
}

td.totalr {
  background-color : #f0f8ff;
  border-bottom : 1px solid #999;
  text-align : right;
}

td.total, td.right {
  text-align : right;
}

/* shipping pages*/

form#zoneform table th {
  background-color : #f0f8ff;
  text-align : left;
}
form#shipform table th {
  background-color : #f0f8ff;
  text-align : left;
}
form#shipform table th, form#shipform table th{
	margin:5px;
	padding:2px;
}
form#shipform table tr,
form#shipform table th#cname1, 
form#shipform table th#cname3, 
form#shipform table th#cname5,
form#shipform table th#cname7,
form#shipform table th#cname9{
	background:#B9DFFF;
}
form#shipform table tr.alt,form#shipform table tr.alt th{
	background:#F5FAFF;
}


#eshopformfloat, #ordersdelete, #eshopformleft {
  float : right;
  width : 23.5em;
}

fieldset#changestat {
  width : 20.5em;
}

#eshopformfloat {
  width : 21em;
}

#ordersdelete {
  width : 23em;
  display : inline;
}  

#eshopformleft, fieldset#changestat {
  float : left;
  display : inline;
}

* html #eshopformleft {
  width : 24.5em;
} 

* html #ordersdelete {
  width : 24em;
}

* html fieldset#changestat, * html #eshopformfloat fieldset, * html #eshopformfloat {
  width : 23em;
}
/* various fieldsets */
#orderstatus fieldset, #ordersdelete fieldset,
#filterzones fieldset,#shipformmethod fieldset,
#shipform fieldset, #zoneform fieldset,
#eshopup fieldset, #style_form fieldset,
#edit_box fieldset,#template_form fieldset,
#downloadedit fieldset,#eshop-gbase-alt fieldset{
  border : 1px solid #fefefe;
  background:#F5FAFF;
}
#eshopup fieldset fieldset,#eshop-gbase-alt fieldset fieldset{
	background: #fefefe;
}
fieldset#eshopcustom{
	border:0;
}
fieldset#eshopcustom fieldset{
  background:#F5FAFF;
  border:0;

}
/* end */
p.thanks {
  font : 200% garamond, georgia, palatino, serif;
  font-style : italic;
  font-weight : normal;
  color : #999;
  text-transform : lowercase;
  margin : 0;
  letter-spacing : 0.3em;
  text-align : center;
}

p.delete {
  padding-top : 20px;
  border-top : 1px solid #ccc;
  margin-top : 35px;
}

p.delete a {
  font-weight : bold;
  background-color : #eee;
  color : #333;
  border : 0;
  padding : 3px 12px;
  text-transform : uppercase;
  border : 3px double #999;
  border-left-color : #ccc;
  border-top-color : #ccc;
}

p.delete a:hover, p.delete a:focus, p.delete a:active {
  background : #ca0000;
  border : 3px double maroon;
  border-left-color : red;
  border-top-color : red;
  color : #fff;
}

p.delete small strong {
  color : #ca0000;
}

p.delete small {
  text-transform : uppercase;
  line-height : 3em;
}

/* pagination */
div.paginate {
  margin : 5px 2px;
  border : 1px solid #bbb;
  background-color : #fbfbfb;
  font-size : 90%;
}

div.paginate p { 
  color : #333;
  margin : 5px 10px 10px;
  padding : 0; 
  line-height : 2em;
}

div.paginate p span {
  font-weight : bold;
}

div.paginate a, a.return {
  background-color : #eee;
  border : 1px solid #999;
  padding : 0 8px; 
  color : #666;
}

div.paginate a:hover, div.paginate a:focus, div.paginate a:active,
a.return:hover, a.return:focus, a.return:active {
  background-color : #ccc;
  border : 1px solid #111;
  color : #000;
}

div.paginate a.pag-view {
  padding : 0 30px;
}

div.paginate p.checkers {
  float : right;
  padding : 0;
  margin-top : 8px;
}

div.paginate p.checkers a {
  margin-left : 6px;
}

/* email forms */

#eshopemailform legend {
  margin-left : -5px;
}

#eshopemailform label {
  line-height : 2em;
  font-weight : bold;
  color : #333;
}

#eshopemailform legend strong {
  color : #666;
}

/* settings page */

#eshop-settings fieldset{
	border:1px solid #fefefe;
	margin-top:10px;
	padding-left:20px;
	padding-bottom:5px;
	background: #f5faff;
}
#eshop-settings fieldset fieldset{
	background: #fefefe;
}

#eshop-settings label{
	font-weight:bold;
  	color: #333;
	display:block;
}
/* upload downloadables*/
#eshopup,#downloadedit{
	width:60%;
	margin:0 auto;
}

#eshopup label.lab,#downloadedit label{
	display:block;
	font-weight:bold;
  	color: #333;
}

#eshopup fieldset fieldset{
	margin-top:15px;
}

/*general*/
br.clearbr {
  clear : both;
}

.offset {
  position : absolute;
  top : -9000px;
  left : -9000px;
}
table.hidealllabels label{
	position : absolute;
	top : -9000px;
  	left : -9000px;
}

/*credit*/
.creditline{
	text-align:center;
}
/* eshop google base*/

#eshop-gbase-alt{
	width:90% !important;
	margin:0 auto;
}
#eshop-gbase-alt fieldset fieldset{
	margin-top:10px;
	padding-left:20px;
	padding-bottom:5px;
}

#eshop-gbase-alt label{
	font-weight:bold;
  	color: #333;
}

fieldset#baseothers label{
	display:block;
	margin-top:5px;
}
fieldset#baseothers fieldset label{
	display:inline;
}
fieldset#baseothers fieldset{
	margin-top:6px;
}

.ebaseimg {
	float:left;
	border:1px solid #dcdcdc;
	padding:5px;
	margin-right:10px;
	white-space:nowrap;
}
.ebox {
	border-top:1px solid #ccc;
	padding:10px 3px 3px 3px;
}
.ebox a{
	padding:3px;
	border:1px solid #80b5d0;
	background:#e5e5e5;
	color:#246;
}


.ebox a:hover,.ebox a:active,.ebox a:focus{
	border-color: #535353;
	color: #d54e21;
}
/* end eShop CSS */